body {
  background-color: #D3D3D3;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: cornflowerblue;
  font-family: arial;
}

#grid {
  margin: 20px auto;
  width: 275px;
  height: 275px;

}

li {
  width: 100px;
  height: 100px;
  border: 1px solid #666666;
  display: inline-block;
  padding: 0;
  float: left;
  color: blue;
  text-align: center;
  font-size: 3em;
  font-family: arial;
  margin: 5px;
}


ul { padding: 2px;}

#startButton {
  text-align: center;
  margin-left: 640px;
}

#message {
  text-align: center;
}

#bestScore {
  text-align: center;
}







