body {
  /*background-color: rgba(23, 216, 242, 1);*/
  background-color: #0F73E3;

}

p {
  text-align: left;
}

#game {
  margin: 0 auto;
}

#barn {
  width: 30%;
  height: 30%;
  float: right;
}

.animalImage{
  height: 100%;
  width: 100%;
  position: relative;
}


.animalImage:hover, .animalImage_hover {
    display: block;
    margin-left: -10px;
    width: 120%;
    height: 120%;
    transition: 0.6s;
    z-index: 1;
}

h1 {
  margin-top: 100px;
  margin-bottom: 0;
  text-align: center;
  font-size: 4.2em;
  color: #FF78BF;
  font-family: 'Lakki Reddy', cursive;
  /*font-family: 'The Girl Next Door', cursive;*/
}

#grid {
  margin: 10px auto;
  width: 320px;
  height: 450px;
}

#rules {
  width: 220px;
  height: 190px;
  padding: 20px;
  border: 3px solid white;
  float: left;
  margin-left: 100px;
  margin-top: 130px;
  border-radius: 20%;
  color: white;
  font-family: 'The Girl Next Door', cursive;
  font-size: 1.2em;
}

#barn {
  width: 300px;
  height: 250px;
  float: right;
  margin-left: 170px;
  margin-top: 30px;
  position: absolute;
}


.animalButton {
  width: 120px;
  height: 120px;
  display: inline-block;
  padding: 0;
  float: left;
  color: blue;
  text-align: center;
  font-size: 3em;
  font-family: arial;
  margin: 17px;
}


#gameButtons {
  display: block;
  padding: 2px;
}

#div {
  padding: 2px;
}

#startButton {
  margin: 0 auto;
  border-radius: 20px;
  height: 40px;
  width: 80px;
  font-size: 2em;
  margin-top: 5px;
}

#start {
  text-align: center;
  color: #FFF500;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 0.8em;
  font-family: 'Lakki Reddy', cursive;
  /*font-family: 'The Girl Next Door', cursive;*/
}

#start:hover {
  color: #FF573C;
} 


#message {
  text-align: center;
}

#bestScore, #currentScore {
  text-align: center;
  font-family: 'The Girl Next Door', cursive;
  font-size: 1.5em;
  color: white;

}

#message {
  font-family: 'The Girl Next Door', cursive;
  font-size: 1.3em;
  color: #FFADD8;
}






