body {
  background-color: rgba(23, 216, 242, 1);

}


.animalImage{
  height: 100%;
  width: 100%;
  position: relative;
}


.animalImage:hover, .animalImage_hover {
    display: block;
    /*margin: -50px;*/
    width: 120%;
    height: 120%;
    transition: 0.7s;
    padding-left: -20px;
    z-index: 2000;
}

h1 {
  margin-top: 100px;
  margin-bottom: 0;
  text-align: center;
  font-size: 3.5em;
  color: #DE0FA5;
  font-family: 'Lakki Reddy', cursive;
  font-family: 'The Girl Next Door', cursive;

}

#grid {
  margin: 10px auto;
  width: 320px;
  height: 320px;*
}

.animalButton {
  width: 120px;
  height: 120px;
  display: inline-block;
  padding: 0;
  float: left;
  color: blue;
  text-align: center;
  font-size: 3em;
  font-family: arial;
  margin: 15px;
}


#gameButtons {
  display: block;
  padding: 2px;
}

#div {
  padding: 2px;
}

#startButton {
  margin: 0 auto;
  border-radius: 20px;
  height: 40px;
  width: 80px;
  font-size: 2em;
}

#start {
  text-align: center;
  color: #474747;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 0.8em;
  font-family: 'Lakki Reddy', cursive;
  font-family: 'The Girl Next Door', cursive;
}

#start:hover {
  color: yellow;
} 


#message {
  text-align: center;
}

#bestScore, #currentScore {
  text-align: center;
  font-family: 'The Girl Next Door', cursive;
  font-size: 1.5em;
  color: #474747;

}

#message {
  font-family: 'The Girl Next Door', cursive;
  font-size: 1.3em;
  color: #FF0090;
}






